.product-motorized {
  background-image: url("../../img/home/backgroundStantard.png");
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  padding: 35px 185px 35px 185px;
}

.product-motorized .header-information img {
  width: 100%;
  height: 199px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.product-motorized .header-container {
  width: 100%;
  height: 199px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.product-motorized .header-container .header-img-holder {
  width: 100%;
  height: 100%;
  background: url("../../img/motorized/motorizadaLineUp.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.product-motorized .header-container .header-img-holder span {
  font-weight: bold;
  font-size: 36px;
  color: #f2f2f2;
}

.product-motorized .product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-motorized .product-container h3 {
  text-align: center;
  margin-bottom: 24px;
  margin-top: 60px;
  font-size: 40px;
  font-weight: 400;
}

.product-motorized .product-container .product-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  max-width: 900px;
}

.product-motorized .product-container .product-content img {
  height: 270px;
  margin-right: 24px;

  border-radius: 4px;
}

.product-motorized .product-container .product-content div span {
  font-size: 34px;
  color: #ce4043;
}

.product-motorized
  .product-container
  .product-content
  div
  .product-buttons
  button:nth-child(1) {
  color: #f2f2f2;
  padding: 8px 6px 8px 6px;
  background: #ce4043;
  opacity: 0.8;
  border-radius: 4px;
  border: 0;
  height: 50px;

  transition: all ease 0.2s;
}

.product-motorized
  .product-container
  .product-content
  div
  .product-buttons
  button:nth-child(1):hover {
  background: transparent;
  color: #ce4043;
  border: 2px solid #ce4043;
}

.product-motorized .product-container .product-content div .product-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.product-motorized
  .product-container
  .product-content
  div
  .product-buttons
  button:nth-child(2) {
  color: #ce4043;
  padding: 8px 6px 8px 6px;
  background: transparent;
  opacity: 0.8;
  border-radius: 4px;
  border: 2px solid #ce4043;
  height: 50px;

  transition: all ease 0.2s;
}

.product-motorized
  .product-container
  .product-content
  div
  .product-buttons
  button:nth-child(2):hover {
  background: #ce4043;
  color: #f2f2f2;
}

.product-motorized
  .product-container
  .product-content
  div
  .product-buttons
  button
  i {
  margin-right: 6px;
}

.product-motorized
  .product-container
  .product-comments
  .product-comments-comment {
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 10px;

  background-color: #ededed;
}

.product-motorized .product-container .product-comments {
  width: 70%;

  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;

  background-color: #fff;
}

.product-motorized
  .product-container
  .product-comments-container
  .product-comments-comment
  p {
  margin: 0;
}

.product-motorized
  .product-container
  .product-comments-container
  .product-comments-comment
  hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
  margin: 0;
}

.product-motorized
  .product-container
  .product-comments-container
  .product-comments-comment
  div {
  text-align: end;
}

.product-motorized
  .product-container
  .product-comments-container
  .product-comments-comment
  div
  span {
  font-weight: 200;
  font-size: 14px;
  color: #ce4043;
}

.product-motorized .product-container .product-information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-top: 16px;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 12px;
}

.product-motorized .product-container .product-information span {
  margin-right: 5px;
  margin-left: 5px;
}

.product-motorized
  .product-container
  .product-information
  .product-information-on {
  color: #ce4043;
}
