body {
  background-color: #f1f1f1;
  height: 100vh;
}

.paineladmin {
  padding: 60px;
  width: 100%;
}

.paineladmin header {
  margin-bottom: 26px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.paineladmin header a {
  display: flex;

  padding: 13px 18px 12px 16px;
  border-radius: 12px;
  border: 1px solid rgba(71, 74, 75, 0.6);
  width: fit-content;

  transition: all ease 0.4s;
}

.paineladmin header a:hover {
  background-color: rgba(235, 235, 235, 0.5);
  cursor: pointer;
}

.paineladmin header div i {
  font-size: 26px;
  opacity: 0.8;
}

.paineladmin .paineladmin-edit {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.paineladmin .paineladmin-edit i {
  font-size: 20px;
  cursor: pointer;

  margin-left: 4px;
  margin-right: 4px;

  transition: all ease 0.4s;
}

.paineladmin .paineladmin-edit i:hover {
  opacity: 0.6;
}

#motorized-1 {
  overflow-x: auto;
}

#aproveCommentsInHome {
  transition: all ease 0.2s;
}

#aproveCommentsInHome:hover {
  cursor: pointer;
  color: #ce4043;
}

#error-message-img-brand {
  margin-top: 16px;
}

#error-message-img-brand p {
  margin: 0;
  text-align: center;
}

#error-message-img-motorized {
  margin-top: 16px;
}

#error-message-img-motorized p {
  margin: 0;
  text-align: center;
}

#brand_tbody .content td:nth-child(3) {
  transition: all ease 0.2s;
}

#brand_tbody .content td:nth-child(3):hover {
  cursor: pointer;
  color: #ce4043;
}

#toast-container > .toast-info {
  background-color: #2f96b4 !important;
}

#toast-container > .toast-success {
  background-color: #51a351;
}

#toast-container > .toast-error {
  background-color: #bd362f;
}
