/* Carousel */
.carouselImg {
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.1);
}

/* Container information */
.information {
  background-image: url("../../img/home/backgroundStantard.png");
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  position: relative;
  margin-top: -128px;
  z-index: 999;
}

.information .information--qualities {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 60px 60px 60px 60px;
}

.information .information--qualities .information--content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 180px;
}

.information .information--qualities .information--content i {
  font-size: 120px;
  opacity: 70%;
}

.information .information--qualities .information--content h3 {
  margin-top: 10px;
  color: #ce4043;
}

.information .information--qualities .information--content p {
  text-align: center;
}

/* About Us */
.information .aboutus h1 {
  font-size: 80px;
  text-align: center;
  color: #ce4043;
}

.information .aboutus .aboutus--container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 60px 60px 60px 60px;
}

.information .aboutus .aboutus--container img {
  border-radius: 5px;
  height: 360px;
}

.information .aboutus .aboutus--container .aboutus--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 31%;
}

.information .aboutus .aboutus--container .aboutus--right span:nth-child(2) {
  margin-top: 16px;
}

.information .aboutus .aboutus--container .aboutus--right span {
  font-size: larger;
  font-weight: 500;
}

/* Comments */
.information .comments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 0px 60px 60px 60px;
}
.information .comments h1 {
  font-size: 80px;
  text-align: center;
  color: #ce4043;
  font-weight: 600;

  margin-bottom: 30px;
}

.information .comments .comments--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.information .comments .comments--container hr {
  width: 35%;
  text-align: left;
  margin-left: 0;
  background-color: #ce4043;
}

.information .comments .comments--container .comments--stars i {
  color: #edd70e;
  font-size: 25px;
}

.information .comments .comments--container .comments--text p {
  text-align: center;
}

.information .comments .comments--container .comments--text {
  width: 35%;
}

.carousel-control-next-icon-comment {
  background-image: none !important;
  display: contents !important;
  font-size: 30px;
}

.carousel-control-prev .fa-arrow-left,
.carousel-control-next .fa-arrow-right {
  font-size: 30px;
}

#carouselHomePageComments .icon-comment:hover,
#carouselHomePageComments .icon-comment:focus {
  color: #b43436 !important;
}

.carousel-control-prev .fa-arrow-left:hover,
.carousel-control-next .fa-arrow-right:hover {
  color: #b43436 !important;
}

@media only screen and (max-width: 1200px) {
  .information .aboutus .aboutus--container img {
    height: 300px;
  }
}

@media only screen and (max-width: 1100px) {
  .carouselImg {
    height: 89vh;
  }
}

@media only screen and (max-width: 900px) {
  .carouselImg {
    height: 80vh;
  }

  .information .aboutus .aboutus--container img {
    height: 240px;
  }

  .information .aboutus .aboutus--container .aboutus--right span {
    font-size: 16px;
  }

  .information .comments .comments--container .comments--text {
    width: 50%;
  }
}

@media only screen and (max-width: 750px) {
  .carouselImg {
    height: 60vh;
  }

  .information .information--qualities {
    flex-direction: column;
    align-items: center;
  }

  .information .aboutus h1 {
    font-size: 60px;
  }

  .information .aboutus .aboutus--container {
    flex-direction: column;
    align-items: center;
    padding: 60px 130px 60px 130px;
  }

  .information .aboutus .aboutus--container img {
    height: auto;
    width: 370px;
  }

  .information .aboutus .aboutus--container .aboutus--right {
    width: auto;
  }

  .information .aboutus .aboutus--container .aboutus--right span:nth-child(1) {
    margin-top: 20px;
  }

  .information .comments h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 650px) {
  .information .aboutus .aboutus--container {
    padding: 60px 50px 60px 50px;
  }

  .information .aboutus .aboutus--container img {
    width: 300px;
  }

  .information .aboutus h1 {
    font-size: 40px;
  }

  .information .comments h1 {
    font-size: 40px;
  }

  .information .comments .comments--container .comments--text {
    width: 80%;
  }
}

@media only screen and (max-width: 635px) {
  .carouselImg {
    height: 40vh;
  }
}
