.navbar-style {
  padding: 10px 180px 10px 180px;
}

.navbar-style .navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-style .navbar-nav .fa-power-off {
  color: #ce4043;
}

.navbar-style .navbar-nav .active {
  color: #ce4043 !important;
  font-weight: 500;
  border-bottom: 2px solid #ce4043;
  padding-bottom: 3px;
  border-bottom-width: medium;
}

.navbar-style .avatar--container {
  display: flex;
  flex-direction: row;
  padding: 6px;
  cursor: pointer;

  transition: all ease 0.2s;
}

.navbar-style .avatar--container:hover {
  background: #ebebeb;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-style .avatar--container img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 10px;
}

.navbar-style .avatar--container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-style .avatar--container div span {
  font-size: 16px;
}

.navbar-style .avatar--container div span:nth-child(1) {
  color: #999591;
}

.navbar-style .avatar--container div span:nth-child(2) {
  color: #ce4043;
}

.navbar-style .navbar-nav .fa-power-off {
  padding-left: 6px;
  transition: all ease 0.2s;
}

.navbar-style .navbar-nav .fa-power-off:hover {
  opacity: 0.6;
}

.arrowUp {
  position: fixed;
  z-index: 9999999;
  font-size: 60px !important;
  bottom: 30px;
  right: 30px;
  color: #ce4043;
  cursor: pointer;

  transition: all ease 0.2s;
}

.shopping-cart-fixed {
  position: fixed;
  top: 24vh;
  right: 0;
  height: 85px;
  display: flex;
  align-items: center;
  padding: 24px;
  background: #f1f1f1;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(50, 50, 50, 0.5);
  z-index: 999999999;

  transition: all ease 0.2s;
}

.shopping-cart-fixed .cart-call-left {
  margin-right: auto;
}

.shopping-cart-fixed .cart-call-left i {
  font-size: 26px;
  color: #ce4043;
  align-self: center;
}

.shopping-cart-fixed .cart-call-left i:hover {
  opacity: 0.8;
}

.shopping-cart-fixed .cart-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  display: none;
}

.shopping-cart-fixed .cart-menu .cart-container {
  display: flex;
  flex-direction: column;
  height: 230px;
  width: 100%;
  overflow: auto;
}

.shopping-cart-fixed .cart-menu .cart-container .cart-connect {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: max-content;
  padding: 8px;
  border-radius: 4px;

  transition: all ease 0.2s;
}

.shopping-cart-fixed .cart-menu .cart-container .cart-connect:hover {
  background: #ce4043;
  color: #f1f1f1;
}

.shopping-cart-fixed .cart-menu .cart-container .cart-connect img {
  height: 60px;
  border-radius: 4px;
}

.shopping-cart-fixed .cart-menu .cart-container .cart-connect p {
  text-align: left;
  word-break: break-all;
  margin: 0;
  margin-left: 14px;
  display: flex;
  align-items: center;
}

.shopping-cart-fixed .cart-menu .cart-options {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.shopping-cart-fixed .cart-menu .cart-options button:nth-child(1) {
  padding: 6px;
  border-radius: 4px;
  background: #ce4043;
  color: #f1f1f1;
  border: 0;

  transition: all ease 0.2s;
}

.shopping-cart-fixed .cart-menu .cart-options button:nth-child(1):hover {
  background: #f1f1f1;
  color: #ce4043;
  border: 2px solid #ce4043;
}

.shopping-cart-fixed .cart-menu .cart-options button:nth-child(2) {
  padding: 6px;
  border-radius: 4px;
  background: #f1f1f1;
  color: #ce4043;
  border: 2px solid #ce4043;
  margin-right: 6px;

  transition: all ease 0.2s;
}

.shopping-cart-fixed .cart-menu .cart-options button:nth-child(2):hover {
  background: #ce4043;
  color: #ffffff;
  border: 0;
}

.toast-info {
  background-color: #2f96b4 !important;
}

.toast-success {
  background-color: #51a351;
}

.toast-error {
  background-color: #bd362f;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: rgba(206, 64, 67, 0.9) !important;
}

.profile-rating-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  margin-top: 10px;
  margin-bottom: 25px;
}

.profile-rating-stars i {
  opacity: 0.8;
  font-size: 24px;

  transition: all ease 0.2s;
}

.profile-rating-stars i:hover {
  cursor: pointer;
  transform: translateY(4px);
}

.comment-home-profile-user p {
  margin-top: 10px;
}

#file-profile-user {
  display: none;
}

.perfil-user-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}

.perfil-user-image img {
  height: 120px;
  border-radius: 50%;

  transition: all ease 0.4s;
}

.perfil-user-image #error-message-img-profile p {
  margin: 0;
}

.perfil-user-image #error-message-img-profile {
  margin-top: 16px;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.perfil-user-image img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

#listWishMotorized .content td:nth-child(2) img {
  height: 40px;
}

#listWishMotorized .content #removeWishListMotorized:hover {
  cursor: pointer;
  color: #ce4043;
}

@media only screen and (max-width: 1275px) {
  .navbar-style {
    padding: 10px 140px 10px 140px;
  }
}

@media only screen and (max-width: 1050px) {
  .navbar-style {
    padding: 10px 80px 10px 80px;
  }
}

@media only screen and (max-width: 845px) {
  .navbar-style {
    padding: 10px 30px 10px 30px;
  }
}
