.contacts-motorized {
  background-image: url("../../img/home/backgroundStantard.png");
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  padding: 35px 185px 35px 185px;
}

.contacts-motorized .header-information img {
  width: 100%;
  height: 199px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.contacts-motorized .header-container {
  width: 100%;
  height: 199px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.contacts-motorized .header-container .header-img-holder {
  width: 100%;
  height: 100%;
  background: url("../../img/contacts/maps.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-motorized .header-container .header-img-holder span {
  font-weight: bold;
  font-size: 36px;
  color: #f2f2f2;
}

.contacts-motorized .map {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.contacts-motorized .map #gmap_canvas img {
  max-width: none !important;
  background: none !important;
  border-radius: 4px;
}

.contacts-motorized .contacts-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 30px;
}

.contacts-motorized .contacts-form h1 {
  font-size: 80px;
  text-align: center;
  color: #ce4043;
}

.contacts-motorized .contacts-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.contacts-motorized .contacts-form form div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  align-content: center;
  height: 56px;
  padding: 0px 16px 0px 6px;
  background-color: rgba(241, 241, 241, 0.6);
  border-radius: 10px;
  margin-bottom: 8px;
}

.contacts-motorized .contacts-form form div span {
  text-align: center;
  width: 4%;
}

.contacts-motorized .contacts-form form div input {
  color: rgba(0, 0, 0, 0.8);
  margin-right: auto;
  width: 100%;
  border: 0;
  background: transparent;
  opacity: 1;
}

.contacts-motorized .contacts-form form textarea {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  align-content: center;
  color: rgba(0, 0, 0, 0.8);
  margin-right: auto;
  border-radius: 10px;
  width: 100%;
  border: 0;
  background: transparent;
  padding: 10px 20px 10px 20px;
  background-color: rgba(241, 241, 241, 0.6);
}

.contacts-motorized .contacts-form form button {
  width: 100%;
  height: 56px;
  border-radius: 10px;
  border: 0;
  color: #f1f1f1;
  margin-top: 20px;
  background: #ce4043;
  transition: all ease 0.2s;
}

.contacts-motorized .contacts-form form button:hover {
  background: #b43436;
}
