@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: "Roboto Slab", serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 500;
}

button,
fa {
  cursor: pointer;
}

a:link {
  color: #ce4043;
}

/* visited link */
a:visited {
  color: #ce4043;
}

/* mouse over link */
a:hover {
  color: darkred;
}

/* selected link */
a:active {
  color: #ce4043;
}

.arrowUp:hover {
  color: rgba(206, 64, 67, 0.9);
}

::-webkit-scrollbar {
  width: 16px !important;
  height: 16px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.1);
}
