.shoppingCart {
  background-image: url("../../img/home/backgroundStantard.png");
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  z-index: 999;
  padding: 35px 185px 35px 185px;
}

.shoppingCart .header-information img {
  width: 100%;
  height: 199px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.shoppingCart .header-container {
  width: 100%;
  height: 199px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.shoppingCart .header-container .header-img-holder {
  width: 100%;
  height: 100%;
  background: url("../../img/motorized/motorizadaLineUp.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.shoppingCart .header-container .header-img-holder span {
  font-weight: bold;
  font-size: 36px;
  color: #f2f2f2;
}

.shoppingCart .shoppingCart--container {
  margin-top: 60px;
}

.shoppingCart .shoppingCart--container .shoppingCart-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 16px;

  background-color: #f2f2f2;
  border-radius: 10px;

  padding: 26px;
  height: 180px;
}

.shoppingCart .shoppingCart--container .shoppingCart-content img {
  height: 120px;
  border-radius: 10px;

  transition: all ease 0.2s;
}

.shoppingCart .shoppingCart--container .shoppingCart-content #motorizedName {
  transition: all ease 0.2s;
}

.shoppingCart
  .shoppingCart--container
  .shoppingCart-content
  #motorizedName:hover {
  transform: scale(1.1);
}

.shoppingCart .shoppingCart--container .shoppingCart-content img:hover {
  transform: scale(1.1);
}

.shoppingCart
  .shoppingCart--container
  .shoppingCart-content
  .shoppingCart-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.shoppingCart
  .shoppingCart--container
  .shoppingCart-content
  .shoppingCart-right
  span:nth-child(1)
  i {
  font-size: 24px;
  opacity: 0.8;

  transition: all ease 0.2s;
}

.shoppingCart
  .shoppingCart--container
  .shoppingCart-content
  .shoppingCart-right
  span:nth-child(1)
  i:hover {
  opacity: 1;
  color: #ce4043;
  cursor: pointer;
  transform: scale(1.3);
}

.shoppingCart--container
  .shoppingCart-content
  .shoppingCart-right
  span:nth-child(2) {
  font-size: 18px;

  transition: all ease 0.2s;
}

.shoppingCart--container
  .shoppingCart-content
  .shoppingCart-right
  span:nth-child(2):hover {
  transform: scale(1.3);
}

.shoppingCart--container .shoppingCart-buy {
  display: flex;
}

.shoppingCart--container .shoppingCart-buy button {
  margin-left: auto;
}
