.store-motorized {
  background-image: url("../../img/home/backgroundStantard.png");
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  z-index: 999;
  padding: 35px 185px 35px 185px;
}

.store-motorized .header-information img {
  width: 100%;
  height: 199px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.store-motorized .header-container {
  width: 100%;
  height: 199px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.store-motorized .header-container .header-img-holder {
  width: 100%;
  height: 100%;
  background: url("../../img/team/teamGroup.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.store-motorized .header-container .header-img-holder span {
  font-weight: bold;
  font-size: 36px;
  color: #f2f2f2;
}

.store-motorized .store-container {
  display: flex;
  flex-direction: row;

  padding-top: 25px;
}

.store-motorized .store-container .panel-left {
  width: 20%;

  background: #f1f1f1;

  border-radius: 10px;
  margin-right: 15px;
}

.store-motorized .store-container .panel-left header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 12px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background: #ce4043;
}

.store-motorized .store-container .panel-left header span {
  color: #f2f2f2;
}

.store-motorized .store-container .panel-left .box-filter {
  padding: 16px;
}

.store-motorized .store-container .panel-left .box-filter h3 {
  text-align: center;
  font-size: 20px;
}

/* Checkbox */
.store-motorized
  .store-container
  .panel-left
  .custom-checkbox
  .custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: #ce4043 !important;
}

.store-motorized
  .store-container
  .panel-left
  .custom-checkbox
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgb(206, 64, 67, 0.5);
  border: 0 !important;
}
.store-motorized
  .store-container
  .panel-left
  .custom-checkbox
  .custom-control-input:focus
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  border: 0 !important;
}
.store-motorized
  .store-container
  .panel-left
  .custom-checkbox
  .custom-control-input:active
  ~ .custom-control-label::before {
  background-color: #ce4043;
}

.store-motorized .store-container .panel-left hr {
  height: 2px;
  border-width: 0;
  background: #ce4043;
}

.store-motorized .store-container .panel-right {
  width: 80%;
}

/* Container teams */
.infoteam {
  background-image: url("../../img/home/backgroundStantard.png");
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

.infoteam .infoteam--avatar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 80px 185px 80px 185px;
}

.infoteam .infoteam--avatar .infoteam--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
}

.infoteam .infoteam--avatar .infoteam--content h3 {
  margin-top: 10px;
  color: #ce4043;
}

.infoteam .infoteam--avatar .infoteam--content p {
  text-align: center;
}
