body {
  background-image: url("../../img/signup/img.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.signup--container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.signup--container .signup--box {
  margin-left: auto;
  height: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;

  background: rgba(136, 136, 136, 0.2);

  animation: anymationOnStartPage 1s;
}

@keyframes anymationOnStartPage {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.signup--container a {
  margin-top: 80px;
}

.signup--container .signup--box .signup--create-account {
  position: relative;

  font-size: 16px;
  background: transparent;
  border: 0;
  font-weight: 500;

  transition: all ease 0.2s;
}

.signup--container .signup--box .signup--create-account:hover {
  opacity: 0.6;
}

.signup--container .signup--box .signup--create-account i {
  margin-right: 6px;

  background: transparent;
  border: 0;
  font-weight: 500;
  color: #f1f1f1;
}

.signup--container .signup--box .signup--create-account span {
  background: transparent;
  border: 0;
  font-weight: 500;
  color: #f1f1f1;
}

.signup--container .signup--box .signup--content {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.signup--container .signup--box .signup--content img {
  height: 259px;
  margin-bottom: 30px;
  transform: scaleX(-1);
}

.signup--container .signup--box .signup--content form {
  width: 100%;
}

.signup--container .signup--box .signup--content form h3 {
  font-size: 28px;
  text-align: center;
  font-weight: 400;
  color: #f1f1f1;
  margin-bottom: 12px;
}

.signup--container .signup--box .signup--content form .signup--input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  align-content: center;

  height: 56px;
  padding: 0px 16px 0px 6px;
  background-color: rgba(117, 113, 133, 0.6);
  border-radius: 10px;
  margin-bottom: 8px;
}

.signup--container .signup--box .signup--content form .signup--input span {
  text-align: center;
  width: 22%;
}

.signup--container .signup--box .signup--content form .signup--error .message {
  background: #f1f1f1;
  opacity: 0.8;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 10px;
  padding: 8px;
}

.signup--container .signup--box .signup--content form .signup--input i {
  color: #f1f1f1;
  font-size: 18px;
  opacity: 1;
}

.signup--container .signup--box .signup--content form .signup--input input {
  color: #f1f1f1;
  margin-right: auto;
  width: 100%;
  border: 0;
  background: transparent;
  opacity: 1;
}

.signup--container
  .signup--box
  .signup--content
  form
  .signup--input
  input::placeholder {
  color: #f1f1f1;
  font-size: 14px;
}

.signup--container .signup--box .signup--content form button {
  width: 100%;
  height: 56px;
  border-radius: 10px;
  border: 0;
  color: #f1f1f1;
  background: #ce4043;
  transition: all ease 0.2s;
}

.signup--container .signup--box .signup--content form button:hover {
  background: #b43436;
}

@media only screen and (max-height: 850px) {
  .signup--container .signup--box .signup--content img {
    height: 210px;
    margin-bottom: 40px;
  }

  .signup--container .signup--box .signup--content form h3 {
    font-size: 22px;
  }

  .signup--container .signup--box a:nth-child(2) {
    margin-top: 20px;
  }
}

@media only screen and (max-height: 670px) {
  .signup--container .signup--box .signup--content img {
    height: 210px;
    margin-bottom: 0px;
  }

  .signup--container .signup--box .signup--content form h3 {
    font-size: 22px;
  }

  .signup--container .signup--box a:nth-child(2) {
    margin-top: 20px;
  }
}
