.store-motorized {
  background-image: url("../../img/home/backgroundStantard.png");
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  z-index: 999;
  padding: 35px 185px 35px 185px;
}

.store-motorized .header-information img {
  width: 100%;
  height: 199px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.store-motorized .header-container {
  width: 100%;
  height: 199px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.store-motorized .header-container .header-img-holder {
  width: 100%;
  height: 100%;
  background: url("../../img/motorized/motorizadaLineUp.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.store-motorized .header-container .header-img-holder span {
  font-weight: bold;
  font-size: 36px;
  color: #f2f2f2;
}

.store-motorized .store-container {
  display: flex;
  flex-direction: row;

  padding-top: 25px;
}

.store-motorized .store-container .panel-left {
  width: 360px;

  background: #f1f1f1;

  border-radius: 10px;
  margin-right: 30px;
  height: fit-content;
}

.store-motorized .store-container .panel-left header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background: #ce4043;
}

.store-motorized .store-container .panel-left i {
  color: #f2f2f2;
  padding: 6px;
  border-radius: 4px;
  transition: all ease 0.2s;
}

.store-motorized .store-container .panel-left i:hover {
  background-color: rgba(242, 242, 242, 0.2);
  transform: scale(1.2);
  cursor: pointer;
}

.store-motorized .store-container .panel-left header span {
  color: #f2f2f2;
}

.store-motorized .store-container .panel-left .box-filter {
  padding: 16px;
}

.store-motorized .store-container .panel-left .box-filter h3 {
  text-align: center;
  font-size: 20px;
}

/* Checkbox */
.store-motorized
  .store-container
  .panel-left
  .custom-checkbox
  .custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: #ce4043 !important;
}

.store-motorized
  .store-container
  .panel-left
  .custom-checkbox
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgb(206, 64, 67, 0.5);
  border: 0 !important;
}
.store-motorized
  .store-container
  .panel-left
  .custom-checkbox
  .custom-control-input:focus
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  border: 0 !important;
}
.store-motorized
  .store-container
  .panel-left
  .custom-checkbox
  .custom-control-input:active
  ~ .custom-control-label::before {
  background-color: #ce4043;
}

.store-motorized .store-container .panel-left hr {
  height: 2px;
  border-width: 0;
  background: #ce4043;
}

.store-motorized .store-container .panel-left .box-values {
  padding: 16px;
}

.store-motorized .store-container .panel-left .box-values h3 {
  text-align: center;
  font-size: 20px;
}

.store-motorized .store-container .panel-left .box-values div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.store-motorized .store-container .panel-left .box-values div .content {
  display: flex;
  flex-direction: row;
  padding: 6px;
}

.store-motorized .store-container .panel-left .box-values div .content input {
  width: 100%;
  padding: 6px;
  border: 0;
  border-radius: 10px;
  font-size: 12px;
}

.store-motorized .store-container .panel-right {
  width: 100%;
}

.store-motorized .store-container .panel-right header {
  width: 100%;
  border-radius: 10px;
  padding: 12px;
  background: #f1f1f1;
}

.store-motorized .store-container .panel-right header p {
  text-align: center;
  color: #ce4043;
}

.store-motorized .store-container .panel-right header .container {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}

.store-motorized
  .store-container
  .panel-right
  header
  .container
  .container-order-selected {
  display: flex;
  align-items: center;
}

.store-motorized
  .store-container
  .panel-right
  header
  .container
  .container-order-selected
  .sort {
  margin-left: 6px;
}

.store-motorized
  .store-container
  .panel-right
  header
  .container
  .container-order-selected
  .sort:hover {
  color: rgba(33, 37, 41, 0.6);
  cursor: pointer;
}

.store-motorized
  .store-container
  .panel-right
  header
  .container
  .container-order-selected
  .order-select {
  border: 0;
  padding: 0;
  margin-left: 12px;
  background-color: transparent;

  cursor: pointer;
}

.store-motorized .store-container .panel-right header .container hr {
  height: 24px;
  background-color: #ce4043;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border: 0.5px solid #ce4043;
}

.store-motorized
  .store-container
  .panel-right
  header
  .container
  .order-showing
  span:nth-child(1) {
  margin-right: 4px;
}

.store-motorized
  .store-container
  .panel-right
  header
  .container
  .order-showing
  span
  .active {
  background: #ce4043;
  color: #f2f2f2;
  border-radius: 4px;
}

.store-motorized
  .store-container
  .panel-right
  header
  .container
  .order-showing
  span
  i {
  padding: 5px 6px 5px 6px;
  color: #7d7d7d;
  border-radius: 4px;
}

.store-motorized
  .store-container
  .panel-right
  header
  .container
  .order-showing
  span
  i:not(.active):hover {
  background-color: rgba(125, 125, 125, 0.25);
  cursor: pointer;
}

.store-motorized .store-container .panel-right .items-container {
  width: 100%;
  border-radius: 10px;
  background: #f1f1f1;
  margin-top: 16px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.store-motorized .store-container .panel-right .items-container .content {
  margin-top: 27px;
  position: relative;

  cursor: pointer;

  transition: ease all 0.2s;
}

.store-motorized .store-container .panel-right .items-container .content:hover {
  transform: scale(1.1);
  z-index: 99999;
  box-shadow: 0px 0px 5px 6px #ccc;
}

.store-motorized
  .store-container
  .panel-right
  .items-container
  .content
  .product-redirect {
  display: none;
}

.store-motorized
  .store-container
  .panel-right
  .items-container
  .content
  .active-product-redirect {
  display: block;
  color: #f2f2f2;
  padding: 8px 6px 8px 6px;
  background: #ce4043;
  opacity: 0.8;
  border-radius: 4px;
}

.store-motorized
  .store-container
  .panel-right
  .items-container
  .content
  .active-product-redirect:hover {
  background: rgba(223, 28, 32);
}

.store-motorized
  .store-container
  .panel-right
  .items-container
  .content
  .product-redirect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.store-motorized
  .store-container
  .panel-right
  .items-container
  .content
  .header {
  position: relative;
}

.store-motorized
  .store-container
  .panel-right
  .items-container
  .content
  .header
  div {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -27px;
}

.store-motorized
  .store-container
  .panel-right
  .items-container
  .content
  .header
  .logo {
  height: 81px !important;
  width: 125px !important;
}

.store-motorized
  .store-container
  .panel-right
  .items-container
  .content
  .header
  img:nth-child(1) {
  width: 280px;
  height: 210px;
}

.store-motorized
  .store-container
  .panel-right
  .items-container
  .content
  .container-info {
  width: 280px;
  background-color: #f2f2f2;
}

.store-motorized
  .store-container
  .panel-right
  .items-container
  .content
  .container-info
  .price {
  position: absolute;
  right: 25px;
  bottom: 82px;
  padding: 6px;
  background-color: #ce4043;
  border-radius: 10px;
  color: #f1f1f1;
}

.store-motorized
  .store-container
  .panel-right
  .items-container
  .content
  .container-info
  h1 {
  text-align: center;
  margin-top: 26px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(33, 37, 41, 0.6);
}

.store-motorized
  .store-container
  .panel-right
  .items-container
  .content
  .container-info
  hr {
  height: 1px;
  border-width: 0;
  background-color: #bdbdbd;
}

.store-motorized
  .store-container
  .panel-right
  .items-container
  .content
  .container-info
  footer {
  display: flex;
  justify-content: space-around;
  margin-top: -10px;
  padding-bottom: 10px;
}

.store-motorized
  .store-container
  .panel-right
  .items-container
  .content
  .container-info
  footer
  span {
  font-size: 14px;
  font-weight: 400;
  color: rgba(33, 37, 41, 0.6);
}

.store-motorized .store-container .panel-right header .container-menu {
  position: absolute;
  margin-left: 4px;
}

.store-motorized .store-container .panel-right .menuFilter:hover {
  color: #f1f1f1;
  background-color: #ce4043;
  transform: scale(1.2);
}

.store-motorized .store-container .panel-right .menuFilter {
  padding: 6px;
  border-radius: 4px;

  cursor: pointer;
}

.store-motorized .store-container .panel-right .search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  border-radius: 10px;
  padding: 12px;
  background: #f1f1f1;
}

.store-motorized .store-container .panel-left .btn-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4px 12px 14px 12px;
}

.store-motorized .store-container .panel-left .btn-filter-container button {
  display: block;
  color: #f2f2f2;
  border: 0;
  padding: 8px 6px 8px 6px;
  background: #ce4043;
  border-radius: 4px;
  width: 80px;
}

.store-motorized
  .store-container
  .panel-left
  .btn-filter-container
  button:hover {
  opacity: 0.8;
}

.store-motorized .store-container .panel-left .btn-filter-container span {
  margin-bottom: 6px;
}

.store-motorized
  .store-container
  .panel-left
  .btn-filter-container
  .filter-btn-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
